.card {
  width: 20rem;
  height: auto;
  background-color: #dee5ed;
  border-radius: 0.5rem;
  margin: 2vw;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
}

.name p {
  font-weight: bold;
}

.back-pokemon {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.power {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-top: 1git pushrem;
}

.centrar-pikachu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.power button {
  width: 3rem;
  border-radius: 0.25rem;
  height: auto;
  background-color: #306bb3;
  border: none;
  color: #fff;
}

.container-pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.btn-cards {
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-cards button {
  width: 9rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  background-color: #306bb3;
  color: #fff;
  margin-right: 50%;
  padding: 0 1.5rem;
}
.checkout-cards h2 {
  font-size: 2rem;
  color: #486284;
  font-weight: 300;
}

.checkout-cards p {
  font-size: 1rem;
  color: var(--text-black);
  text-align: center;
}

.links-type-pokemon {
  display: flex;
  justify-content: space-evenly;
}
