header {
    background-color: var(--primary-color);
    color: var(--link-color);
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

nav>ul{
    display: flex;
    margin: 0 1%;
    justify-content: space-between;
}

nav{
    width: 60%;
}

nav>ul>li>a{
    color: white;
    font-weight: 500;
}

header>div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>div>button{
    padding: 2%;
    background-color: var(--link-color);
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    color: var(--primary-color);
}

.header-logo{
    height: 90%;
    align-self: center;
}