:root {
    --primary-color:#306BB3;
    --link-color: #fff;
    --text-color:#1a202c;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;    
}

a{
  text-decoration: none;
  color: var(--text-color);
}

main{
  display:flex ;
  flex-direction: row;
  justify-content: space-around;
  padding: 10%;
}

